
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Početna</title>
</head>
<body>

    <h1>Odaberi primer</h1>
    <br /><hr />

    <a href="/db/proizvodi">Čitanje iz baze</a>  <br /><br />
    <a href="/api/proizvodi">Čitanje iz datoteke</a>

</body>
</html>
