
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Početna</title>
</head>
<body>
    <h1>Lista proizvoda</h1>
    <br /><hr />

    <a href="/dodaj">Dodaj nov proizvod</a>
</body>
</html>
